@CHARSET "UTF-8";



body {
    font-family: arial, sans-serif;
	color: #231F20;
	font-size: 14px;
	font-weight:normal;
	margin:0;
	background-color:red;
}

h1{
font-family: "Myriad Pro", sans-serif;
color: #F26621;
font-size: 18px;
text-transform: uppercase;
font-weight:normal;
margin-bottom:25px;

}

h2{
font-family: "Myriad Pro", sans-serif;
color: #608038;
font-size: 16px;
text-transform: uppercase;
font-weight:normal;

}

a h2 {
font-family: "Myriad Pro", sans-serif;
color: #9CA638;
font-size: 16px;
text-decoration: underline;
font-weight:normal;
text-transform: none;

}

h3{
font-family: "Myriad Pro", sans-serif;
color: #9CA638;
font-size: 16px;
padding: 0 0 0 10px;
font-weight:normal;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1200px;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 930px;
}

#rightcolumn {
    background: #ffffff;
    width: 270px;
    float: left;
}

#image-header{
	width: 1200px;
	height: 300px;
	background: #9CA638 url('img/header.jpg');
}

#recipe{
padding-top: 70px;
margin-left:50px;
}

#recipe h1{
	margin-bottom:30px;
	}
	
#recipe img{
	float: left;
	padding: 15px 90px 50px 0;
}

#recipe table{
	border-width: 0;
}
#recipe table td {
	padding: 8px;
}



.recipe{
	overflow:hidden;
	margin:0 0 60px 0;
}

.recipe img{
	float: left;
	margin: 0 40px 0 0;
}

.recipe .recipe-text  {
	float:left;
	margin:0;
	width: 600px;
}

.recipe h2{
	margin:0 0 30px 0;
}

.recipe p{
	padding-left:0;
	padding-bottom:0;
	margin-bottom:0;
}

.recipe .detalii{
	margin-top: 5px;
	text-align: right;
}

.time{
font-family: "Myriad Pro", sans-serif;
color: #9CA638;
font-size: 18px;
background:url('img/clock.png') center left no-repeat;
padding:15px 0 15px 50px;
white-space:nowrap;
}
.calories{
font-family: "Myriad Pro", sans-serif;
color: #F26621;
font-size: 18px;
background:url('img/calories.png') center left no-repeat;
padding:15px 0 15px 50px;
white-space:nowrap;
margin:0 0 0 30px;
}

.price{
font-family: "Myriad Pro", sans-serif;
color: #608038;
font-size: 18px;
background:url('img/price.png') center left no-repeat;
padding:15px 0 15px 60px;
white-space:nowrap;
margin:0 0 0 30px;
}

.buton {
     background-color: #9CA638;
     border: Defaultpx dotted ;
     color: #172715;
     font-size: 12;
     font-family: arial;
     font-style: normal;
     font-weight: ;
     padding: 1px;
     }
.categories{
margin: 20px;
}

.categories a{
text-decoration: none;
color: #231F20;
display: block;
margin: 2px 0;
}


.buttonClass {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f26721), color-stop(1, #f26721) );
	background:-moz-linear-gradient( center top, #f26721 5%, #f26721 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26721', endColorstr='#f26721');
	background-color:#f26721;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:normal;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f26721;
}.buttonClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f26721), color-stop(1, #f26721) );
	background:-moz-linear-gradient( center top, #f26721 5%, #f26721 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26721', endColorstr='#f26721');
	background-color:#f26721;
}.buttonClass:active {
	position:relative;
	top:1px;
}


#cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% Roboto, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	}
#cssmenu ul{
	background:#9CA638;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
#cssmenu li{
	float:left;
	padding:0px;
	}
#cssmenu li #title{
	margin:0px;
	padding:0px 40px;
	text-align:left;
	color:#172715;
	font-size:18px;
	line-height:35px;
	font-weight: normal ;
}
#cssmenu li a{
	background:#9CA638;
	color:#172715;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
#cssmenu li a:hover, #cssmenu ul li:hover a{
	background: #f68b1e ;
	color:#172715;
	text-decoration:none;
	}
#cssmenu li ul{
	background:#9CA638;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
#cssmenu li:hover ul{
	display:block;
	
	}
#cssmenu li li {
	
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	}
#cssmenu li:hover li a{
	background:none;
	
	}
#cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
#cssmenu li ul a:hover, #cssmenu li ul li:hover a{
	background:#f68b1e ;
	border:0px;
	color:#172715;
	text-decoration:none;
	}
#cssmenu p{
	clear:left;
	}	

.iform {font: 14px/26px Roboto, Arial, sans-serif; width:400px; margin:30px auto;}
.iform ul { margin:0; padding:0; list-style:none;}
.iform ul ul { overflow:auto}
.iform li { padding-bottom:5px;}
.iform label { 
 width:130px; display:block; float:left; line-height:26px;
}
.iform label.ilabel { 
 width:auto; display:inline; float:none; line-height:26px; padding:0 5px
}

.iform .itext,.iform .itextarea,.iform .iselect,.iform .ibutton { 	
	width:200px;
	border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	margin:0;
	padding:5px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
	background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}

.iform .itext:hover,.iform .itextarea:hover,.iform .iselect:hover,.iform .ibutton:hover,
.iform .itext:focus,.iform .itextarea:focus,.iform .iselect:focus,.iform .ibutton:focus{

border-color: #333;
background:#fff;

}

.iform .itext {

}


.iform .itextarea{ 
	height:100px; width: 250px;
}
.iform .ibutton {

	width:auto;
	background: #efefef;
	background: -webkit-gradient(linear, left top, left 25, from(#dadada), color-stop(6%, #efefef), to(#dadada));
	background: -moz-linear-gradient(top, #dadada, #efefef 2px, #dadada 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}
.iform .ibutton:hover,.iform .ibutton:focus { background:#dadada;}
.iform li.iheader { display:block;  border-bottom:1px solid #000; padding:5px; text-indent:10px; margin:5px 0 15px }
.iform li.iseparator { display:block; text-indent:-9999px; height:10px; line-height:10px; border-bottom:1px solid #999;margin:5px 0 15px }

.iform .required { border-color:#F00; }

#imessageOK,#imessageERROR{ border:1px solid #F60; padding:10px; font-size:16px; font-weight:bold; text-align: center; display:none; margin-bottom:20px;

	background: #F90;
	background: -webkit-gradient(linear, left top, left 25, from(#F90), color-stop(4%, #FC0), to(#F90));
	background: -moz-linear-gradient(top, #F90, #FC0 1px, #F90 25px);
	color:#fff;
	}